---
import SnippetLayout from "../../layouts/SnippetLayout.astro";
import { Icon } from "astro-icon";

export async function getStaticPaths() {
  let posts = await Astro.glob("../../content/snippets/**/*.md*");
  const snippets = posts.filter((snippet) => !snippet.frontmatter.draft);
  return snippets.map((snippet) => {
    return {
      params: { slug: snippet.frontmatter.slug },
      props: { ...snippet },
    };
  });
}

function formatDate(date: Date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, "$1");
}

const { Content, frontmatter } = Astro.props;
const title = frontmatter.title;
const description = frontmatter.description ?? "A code snippet about " + title;
// const tags = frontmatter.tags;
const keywords = frontmatter.keywords ?? frontmatter.tags;
const comments = frontmatter.comments ?? true;
---

<SnippetLayout title={title} description={description} keywords={keywords} comments={comments}>
  <div
    class="bg-foreground-300 dark:bg-background-light rounded-md px-3 py-0.5 text-background dark:text-background-200"
  >
    <div class="flex flex-row justify-between">
      {
        frontmatter.pubDate === frontmatter.date ? (
          <p class="flex items-center">
            <Icon name="ic:baseline-calendar-month" height="25" />
            <span class="pl-1">{formatDate(frontmatter.pubDate)}</span>
          </p>
        ) : (
            <p class="flex items-center pl-2">
              <Icon name="ic:outline-update" height="25" />
              <span class="pl-1">{formatDate(frontmatter.date)}</span>
            </p>
            <p class="flex items-center pr-3">
              <Icon name="ic:baseline-calendar-month" height="25" />
              <span class="pl-1">{formatDate(frontmatter.pubDate)}</span>
            </p>
        )
      }
    </div>
    <!-- <div class="flex flex-wrap mb-2">
      {frontmatter.tags.map((tag: String)=> {
        return (
          <p class="mx-1 my-2 bg-foreground-500 cursor-not-allowed  dark:bg-background-lighter 
          hover:bg-foreground-700 hover:dark:bg-background-800 px-2 rounded-md transition duration-300">
            <span class="no-underline text-white dark:text-foreground-50">{tag}</span>
            </p>
        )
      })}
    </div> -->
  </div>
  <Content />
</SnippetLayout>
