---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

const PROJECTS = [
  {name: "Banking Application", image: "", date: "March 2022", description: "", skills: "", link: "/projects/banking-application"},
  {name: "Arch-Wiki", image: "", date: "January 2023", description: "", skills: "", link: "/projects/arch-wiki"},
  {name: "rgit", image: "", date: "March 2022", description: "", skills: "", link: "/projects/rgit"},
  {name: "Rust Projects", image: "", date: "March 2022", description: "", skills: "", link: "/projects/rust"},
]

const description = "Atri Hegde's notable projects";
const keywords = "";
---

<Layout title="Projects" description={description} keywords={keywords}>
    <p class="text-3xl text-center">
        🚧 This page is still under construction 🚧
    </p>
    <h1
        class="w-11/12 md:w-3/4 mx-auto text-3xl font-bold text-background-800 dark:text-blue-50"
    >
        Projects
    </h1>
    <!-- TODO -->
    {
      PROJECTS.map((project, _) => {
        return (
          <div>
            <div>
              <img src={project.image}/>
              <h2 class="project-title text-3xl font-semibold"><a href={project.link}>{project.name}</a></h2>
              <p>{project.date}</p>
            </div>
            <div>
              <p>{project.description}</p>
              <h3>{project.skills}</h3>
            </div>
          </div>
        )
      })
    }
</Layout>
<style>
    h1:after {
        content: "";
        display: block;
        align-content: center;
        background: #ff3d7a;
        width: 115px;
        height: 4px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #e984a4;
    }

    @keyframes lights {
        0% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }

        30% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        40% {
            color: hsl(230, 100%, 95%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 90%, 0.5),
                -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
                0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
        }

        70% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        100% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }
    }

    .project-title {
        animation: lights 5s 750ms linear infinite;
    }
</style>
