---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

const PROJECTS = [
    {
        name: "Banking Application",
        link: "https://hegdeatri.com/projects/banking-application",
        image: "",
        date: "March 2022",
        description: "This is a short description",
        skills: "C#, Angular, MSSQL",
        page: "/projects/banking-application",
    },
    {
        name: "Arch-Wiki",
        link: "https://arch-wiki.hegdeatri.com",
        image: "",
        date: "January 2023",
        description: "",
        skills: "",
        page: "/projects/arch-wiki",
    },
    {
        name: "rgit",
        link: "https://hegdeatri.com/projects/rgit",
        image: "",
        date: "March 2022",
        description: "",
        skills: "",
        page: "/projects/rgit",
    },
    {
        name: "Rust Projects",
        link: "https://github.com/hegde-atri/rust_projects",
        image: "",
        date: "March 2022",
        description: "",
        skills: "",
        page: "/projects/rust",
    },
];

const description = "Atri Hegde's notable projects";
const keywords = "";
---

<Layout title="Projects" description={description} keywords={keywords}>
        <h1
            class="w-11/12 md:w-3/4 mx-auto text-3xl font-bold text-background-800 dark:text-[#ff3d7a] shadow-md"
        >
            Projects
        </h1>
    {
        PROJECTS.map((project, _) => {
            return (
                <div class="p-3 my-5">
                    <div class="flex flex-col">
                        <img src={project.image} />
                        <div class="flex flex-col text-center">
                            <h2 class="project-title text-3xl font-semibold">
                                <a href={project.link}>{project.name}</a>
                            </h2>
                            <p class="text-gray-400 font-bold">
                                {project.date}
                            </p>
                        </div>
                    </div>
                    <div>
                        <p class="text-center">{project.description}</p>
                        <h3 class="text-center text-gray-400">
                            {project.skills}
                        </h3>
                    </div>
                </div>
            );
        })
    }
</Layout>
<style>
    h1 {
        color : #ff3d7a;
        text-decoration: underline;
        box-shadow: 0px 0px 0px #e984a4;
    }

    @keyframes lights {
        0% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }

        30% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        40% {
            color: hsl(230, 100%, 95%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 90%, 0.5),
                -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
                0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
        }

        70% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        100% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }
    }

    .project-title {
        animation: lights 5s 750ms linear infinite;
    }
</style>
