---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

const PROJECTS = [
    // {
    //     name: "rgit",
    //     image: "",
    //     date: "March 2022",
    //     description: "",
    //     skills: "",
    //     page: "/projects/rgit",
    // },
    {
        name: "Rust Projects",
        image: "",
        date: "March 2022",
        description: "",
        skills: "",
        page: "/projects/rust-projects",
    },{
        name: "Arch-Wiki",
        link: "https://arch-wiki.hegdeatri.com",
        image: "",
        date: "January 2023",
        description: "",
        skills: "",
        page: "/projects/arch-wiki",
    },
    {
        name: "Banking Application",
        image: "",
        date: "March 2022",
        description: "My Non Exam Assessment coursework for Computer Science (A-level). Although the project itself does not have a highly appealing UI, it is completely usuable and very minimal and stylish. The frontend was made using Angular 12 with Angular material. For the backend, I was using the .NET stack of EF Core, ASP.NET and Microsoft SQL. Identity Management was done using Microsoft AAD (B2C).", skills: "C#, Angular, MSSQL, Active Directory",
        page: "/projects/banking-application",
    },
];

const description = "Atri Hegde's notable projects";
const keywords = "";
---

<Layout title="Projects" description={description} keywords={keywords}>
    <div>
        {
            PROJECTS.map((project, _) => {
                return (
                    <div class="p-3 my-5 space-y-2 project-card">
                        <div class="flex flex-col">
                            <img src={project.image} />
                            <div class="flex flex-col text-center space-y-1">
                                <h1 class="project-title text-3xl p-3 font-semibold transition-all duration-300 hover:text-4xl">
                                    <a href={project.page}>{project.name}</a>
                                </h1>
                                <p class="text-gray-400 font-bold">
                                    {project.date}
                                </p>
                                {
                                    project.link != undefined && (
                                        <p>
                                            Demo link: 
                                            <a href={project.link} target="_blank">
                                                {project.link}
                                            </a>
                                        </p>
                                    )
                                }
                            </div>
                        </div>
                        <div>
                            <p class="text-center py-2 mx-auto sm:w-3/4 lg:w-1/2">{project.description}</p>
                            <h3 class="text-center text-gray-400">
                                {project.skills}
                            </h3>
                        </div>
                    </div>
                );
            })
        }
    </div>
</Layout>
<style>
    @keyframes lights {
        0% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }

        30% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        40% {
            color: hsl(230, 100%, 95%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 90%, 0.5),
                -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
                0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
        }

        70% {
            color: hsl(230, 80%, 90%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.5),
                0 0 0.125em hsla(320, 100%, 60%, 0.5),
                0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
                -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
        }

        100% {
            color: hsl(230, 40%, 80%);
            text-shadow: 0 0 2em hsla(320, 100%, 50%, 0.2),
                0 0 0.125em hsla(320, 100%, 60%, 0.3),
                1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
                -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
        }
    }

    .project-title {
        animation: lights 5s 750ms linear infinite;
    }

    /* a {
        position: relative;
        text-decoration: none;
        box-shadow: 0 0 1px transparent;
    }

    a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        background: #445285;
        box-shadow: 0px 0px 5px #19bdc1;
    }

    :global(.dark) a::before {
        background: #0040a6;
        box-shadow: 0px 0px 5px #9475e1;
    }

    a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    } */

    .project-card {
        transition: 500ms;
        border-radius: 8px;
        opacity: 0.85;
        transition: opacity 0.3s ease-out;
    }

    .project-card:hover {
        opacity: 1;
    }
</style>
