---
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";
import "../styles/global.css";
const { title, description, url, image, keywords } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <Header title={title} description={description} image={image} keywords={keywords} url={url}/>
  <body class="min-h-screen relative pb-20">
    <div class="w-11/12 mx-auto md:w-3/4 mt-5 scroll-auto">
      <slot />
    </div>
  </body>
  <Footer />  
</html>